[submodule "bindings/spec/test-data"]
	path = bindings/spec/test-data
	url = https://github.com/mapnik/test-data.git
[submodule "bindings/spec/data/visual"]
	path = bindings/spec/data/visual
	url = https://github.com/mapnik/test-data-visual.git
[submodule "bindings/spec/data/data"]
	path = bindings/spec/data/data
	url = https://github.com/mapnik/test-data.git
